.App {
  font-family: "Architects Daughter", cursive;
  text-align: center;
  margin: 5px;
  padding: 3px;
  color: rgb(237, 238, 238);
  box-sizing: border-box;
  border: 2px solid rgb(34, 43, 43);
  border-radius: 10px;
  background: linear-gradient(
    to bottom,
    rgba(85, 148, 179, 1) 0%,
    rgba(136, 162, 187, 1) 100%
  );
  width: 50vw;
  height: 100vh;
}
.code-link {
  text-align: center;
  color: rgb(34, 43, 43);
}

.cl {
  text-decoration: none;
  color: rgb(34, 43, 43);
}
