.city {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  line-height: 5rem;
  margin: 0 auto;
}

.celsius {
  font-size: 2rem;
}

.temp {
  font-size: 4rem;
  font-weight: bold;
}

.weatherlist {
  list-style-type: none;
  text-align: center;
}
li {
  list-style-type: none;
}

.justLies {
  text-transform: capitalize;
  font-size: 1.5em;
}

.reality,
.whoosh {
  font-size: 1.5rem;
}
